@import "~@angular/material/prebuilt-themes/purple-green.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-content {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 30px;
}
